*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color:blueviolet;
    color: white;
    padding-top: 1vh;
    text-align: center;
    height: 12vh;
}


.container{ 
    position: relative;
    right: 1vw;
    
    height: 88vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.form-wrapper{
    height: 88vh;
    margin-right: 10vw;
    background-color: black;
    border: 1px solid black;
    width: 90%;
    
}


.form{
    margin-top: 6vh;
    margin-left: 3vw;

    border: 1px solid black;
    background-color: white;
    
    height: 55vh;
    width: 30vw;
    
    padding-top: 2vh;

    color: black;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    align-items:center;
    
    
    
}

.form-wrapper .tittle-wrapper{
    margin-right: 15vw;
}

.form-wrapper button{
    
    margin-bottom: 5vh;

    height: vh;
    width: 10vw;
}

input{
    display: block;
    width: 20vw;
}



.container .table{
    margin-bottom: 45vh;
    margin-right: 8vw;
    
}


