*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-bar{
    background-color:blueviolet ;
    color: white;
    text-align: center;

    height: 10vh;
}

.container{
    height: 50vh;
    width: 5vw;

    margin-top: 2vh;
    color:black;
}

.tittle-wrapper span{
    margin-right: 35vw;
    
}

.col-sm{
    border: 3px solid black;
    background-color: white;
    border-radius: 3%;
    color: black;

    padding: 1vw;
    padding-top: 1vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-top: 1vh;

    height: 35vh;
    width: 45vw;
}

input{
    height:4vh;
    width: 20vw;
    display: block;
}

button{
    height:6vh;
    width: 15vw;
}

.table-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;

    border: 1px solid black;
    padding: 5vh;
}
